<!DOCTYPE html>
<html lang="ja">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>ログイン</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form action="{{ url_for('login') }}" method='POST'>
    <div>
        メールアドレス：<input type="email" name="mailAddress">
    </div>
    <div>
        パスワード：<input type="password" name="password">
    </div>
  <input type="submit" value="ログイン" class="loginBtn">
 </form>
 <!-- 以下のaタグのhref属性が重要 -->
 <a href="{{ url_for('register') }}">新規登録はこちら</a>
</body>
</html>
